[Unit]
Description=LED Weather Screen Service
After=network.target

[Service]
WorkingDirectory=/home/pi/led-weather-screen
ExecStart=/usr/bin/npm start
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target